@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

/* variables */
:root {
  --self-color-primary: #02aad3;
  --self-color-secondary: #0380dc;
  --self-color-tertiary: #f4f4f4;
  --self-color-light-dark: #202020;
}

html[data-coreui-theme='light'] body {
  background-color: #f4f4fd;
}

body{
  font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif !important;
}

.self-button{
  background-color: var(--self-color-primary) !important;
  color: var(--self-color-tertiary) !important;
  border-color: var(--self-color-primary) !important;
}

.self-bg-primary{
  background-color: var(--self-color-primary) !important;
}

.self-bg-secondary{
  background-color: var(--self-color-secondary) !important;
}

.self-bg-light-dark{
  background-color: var(--self-color-light-dark) !important;
}

.self-color-primary{
  color: var(--self-color-primary) !important;
}

.self-color-secondary{
  color: var(--self-color-secondary) !important;
}

.self-color-tertiary{
  color: var(--self-color-tertiary) !important;
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header{
  border-bottom: 1px solid rgb(228 228 228 / 0%);
  -webkit-box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
}

.sidebar{
  box-shadow: 0 2px 6px 0 rgb(233 233 249 / 65%), 0 2px 6px 0 rgb(166 166 254 / 54%) !important;
  transition: all .5s ease-in-out !important;
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.sidebar-nav .nav-link {
  color: #5f5f5f !important;
  font-size: 0.97rem !important;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:focus {
  color: #5f5f5f !important;
}

.sidebar-nav .nav-link.active {
  color: #07a7d9 !important;
  background: #e9efff !important;
}

.sidebar-nav svg.nav-icon{
  color: #5f5f5f !important;
}

.sidebar-nav .nav-title{
  color: #b1b0b0 !important;
  font-weight: 400 !important;
}

.simplebar-content{
  padding-top: 13px !important;
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.body-card{
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.custom-breadcrumb{
  --cui-breadcrumb-divider: '>';
}

.breadcrumb-item + .breadcrumb-item {
  font-weight: 400;
}

.breadcrumb-item > a{
  color: #5f5f5f !important;
  text-decoration: none !important;
  font-size: 1.04rem !important;
}

.footer {
  min-height: calc(3rem + 1px);
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

/*** Form CSS ***/
input.form-control{
  font-size: 15px;
}
label.form-label{
    font-size: 14px;
}
.form-label{
  font-size: 0.89rem;
  color: #747474;
}

.form-label-required::after {
  content: '*';
  color: rgb(248, 16, 16);
  margin-left: 3px;
}

.form-field-error{
  font-size: 14px;
  background: #f8bebe;
  padding: 4px 15px;
  border-radius: 5px;
}

.input-group-text {
  background-color: #ffffff !important;
}
