@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

/* variables */
:root {
  --self-color-primary: #02aad3;
  --self-color-secondary: #0380dc;
  --self-color-tertiary: #f4f4f4;
  --self-color-light-dark: #202020;
}

html[data-coreui-theme='light'] body {
  background-color: #f4f4fd;
}

body{
  font-family: 'Noto Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif !important;
}

.self-button{
  background-color: var(--self-color-primary) !important;
  color: var(--self-color-tertiary) !important;
  border-color: var(--self-color-primary) !important;
}

.self-bg-primary{
  background-color: var(--self-color-primary) !important;
}

.self-bg-secondary{
  background-color: var(--self-color-secondary) !important;
}

.self-bg-light-dark{
  background-color: var(--self-color-light-dark) !important;
}

.self-color-primary{
  color: var(--self-color-primary) !important;
}

.self-color-secondary{
  color: var(--self-color-secondary) !important;
}

.self-color-tertiary{
  color: var(--self-color-tertiary) !important;
}

.fs-7{
  font-size: 0.95rem !important;
}

.fs-8{
  font-size: 0.9rem !important;
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header{
  border-bottom: 1px solid rgb(228 228 228 / 0%);
  -webkit-box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
}

.sidebar{
  box-shadow: 0 2px 6px 0 rgb(233 233 249 / 65%), 0 2px 6px 0 rgb(166 166 254 / 54%) !important;
  transition: all .5s ease-in-out !important;
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.sidebar-nav .nav-link {
  color: #5f5f5f !important;
  font-size: 0.88rem !important;
}

.sidebar-nav .nav-icon{
  height: 1.18rem !important;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:focus {
  color: #5f5f5f !important;
}

.sidebar-nav .nav-link.active {
  color: #07a7d9 !important;
  background: #e9efff !important;
}

.sidebar-nav svg.nav-icon{
  color: #5f5f5f !important;
}

.sidebar-nav .nav-title{
  color: #909090 !important;
  font-weight: 400 !important;
}

.sidebar-nav .nav-group-toggle::after{
  height: 11px !important;
}

.sidebar-nav .nav-group-items .nav-link{
  font-size: 0.84rem !important;
  color: #7d7d7d !important;
}

.simplebar-content{
  padding-top: 26px !important;
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.body-card{
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  padding: 3rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.custom-breadcrumb{
  --cui-breadcrumb-divider: '>';
}

.breadcrumb-item + .breadcrumb-item {
  font-weight: 400;
}

.breadcrumb-item > a{
  color: #7D7D7D !important;
  text-decoration: none !important;
  font-size: 0.9rem !important;
}

.breadcrumb-item + .breadcrumb-item::before{
  color: #7D7D7D !important;
}

.breadcrumb-item.active{
  font-size: 0.9rem;
  margin-top: 3px;
}

.p-datatable-table-container{
  border: 1px solid #e9e7e7;
  box-shadow: 0 10px 12px 0 rgba(218, 218, 253, 0.65), 0 2px 5px 0 rgba(206, 206, 238, 0.6);
  margin-bottom: 22px;
}

th.p-datatable-header-cell {
    background: #f1f4f9;
}

.p-datatable .p-paginator{
  justify-content: space-between !important;
  padding-top: 20px; 
  padding-bottom: 20px; 
  margin-top: 10px;
}

.p-datatable-tbody > tr > td{
  color: #828282;
  font-size: 0.95rem;
}

.footer {
  min-height: calc(3rem + 1px);
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

/*** Form CSS ***/
input.form-control{
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
}

label{
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #747474;
}

.form-label-required::after {
  content: '*';
  color: rgb(248, 16, 16);
  margin-left: 3px;
}

.form-field-error{
  font-size: 14px;
  background: #f8bebe;
  padding: 4px 15px;
  border-radius: 5px;
}

.input-group-text {
  background-color: #ffffff!important;
  padding: 11px 16px;
  font-size: 14px;
  color: #999;
  border-right: 1px solid #ddd;
  white-space: nowrap;
}

.datatable-container .page-heading h2{
  color: #4b4949;
  font-weight: 700;
  font-size: 2.3rem;
}

.datatable-container .page-heading p{
  color: #9b9b9b;
  font-size: 1.08rem;
}

.datatable-container .p-paginator #pagination-item-prev,
.datatable-container  .p-paginator #pagination-item-data,
.datatable-container .p-paginator #pagination-item-next{
  max-width: fit-content !important;
}

.datatable-container .datatable-header-search{
  background-color: #f1f4f9;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #e9e7e7;
  box-shadow: 0 10px 12px 0 rgba(218, 218, 253, 0.65), 0 2px 5px 0 rgba(206, 206, 238, 0.6);
}

@media (max-width: 480px) {
  .body-card{
    padding: 2.5rem 1.2rem !important;
  }

  .body-card .page-heading h2,
  .datatable-container .page-heading h2 {
    font-size: 2rem !important;
  }

  .body-card .page-heading p,
  .datatable-container .page-heading p {
    font-size: 1rem !important;
  }

  label.form-label {
    font-size: 13px;
  }

  input.form-control,
  .input-group {
    font-size: 0.84rem;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .input-group .form-select {
    font-size: 0.84rem;
  }

  .breadcrumb-item > a {
    font-size: 0.88rem !important;
  }

  .breadcrumb-item.active {
    font-size: 0.88rem !important
  }

  .datatable-container .datatable-header-top{
    flex-direction: column;
    align-items: start !important;
  }

  .datatable-container .datatable-header-top .page-heading{
    margin-bottom: 10px;
  }

  .datatable-container .datatable-header-top .btns-row{
    text-align: start !important;
  }

  .datatable-container .datatable-header-top .refresh-btn{
    margin-top: 0px;
  }
  
  .datatable-container .datatable-header-search{
    margin-top: 5px !important;
  }

  .datatable-container .datatable-header-search form{
    align-items: start !important;
    flex-direction: column;
  }

  .datatable-container .btn{
    font-size: 0.75rem !important;
  }

  .datatable-container .datatable-header-search form .btn svg{
    font-size: 0.8rem !important;
  }

  .datatable-container .datatable-header-search form .search-columns-inputs{
    display: block !important;
  }

  .datatable-container .datatable-header-search form .search-btn{
    text-align: left !important;
  }

  th.p-datatable-header-cell {
    font-size: 0.9rem;
  }

  .p-datatable-tbody > tr > td {
    font-size: 0.84rem;
  }

  .p-datatable .p-paginator{
    padding-left: 0;
    padding-right: 0;
    justify-content: start !important;
  }

  .datatable-container .p-paginator #pagination-item-prev,
  .datatable-container  .p-paginator #pagination-item-data,
  .datatable-container .p-paginator #pagination-item-next{
    font-size: 0.75rem !important;
    padding: 5px 10px !important;
  }
}
